
body {
	padding-bottom: 24em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

p {
	line-height: 2em;
}

/* Generic classes */
.brighter {
	color: #aaa;
}
.colorwhite {
	color: white !important;
}
.padded {
	padding: 3em 2em;
}
.pixelfont {
	font-family: 'Press Start 2P', fixedsys, sans-serif;
	font-size: 24px;
}

.logo {
	max-width: 50%;
	max-height: 3.5em;
	margin-bottom: 1em;
}

@media all and (max-width: 800px) {
  .pixelfont {
  	font-size: 16px;
  }
}

@media all and (max-width: 600px) {
  .pixelfont {
  	font-size: 8px;
  }
}

/* Project list */
.arrowup::before {
	content: '';
	display: block;
	position: absolute;
	background: white;
	top: -7em;
	left: 50%;
	margin-left: -1em;
	width: 2em;
	height: 2em;
	z-index: 5;
    -webkit-transform:  rotate(45deg);
    -o-transform: rotate(45deg); 
    transform:  rotate(45deg);
}

#project {
	background-color: #fff;
}

#projectdescription {
	margin: 6em auto;
	position: relative;
}

#projectlist li {
	padding: 0;
	position: relative;
}

#projectlist a {
	background-size: cover; 
	background-position: center;
	height: 0; 
	padding-bottom: 80%;
	display: block;
	transition: all .3s;
}
.v-container {
	position: absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	background: rgba(48, 148, 180, 0.8);
	transition: all .3s;
	white-space: nowrap;
}
.v-container:hover {
	background: rgba(239, 171, 0, 0.8);
	/*
	transform: scale(1.05);
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	*/
}
.v-container:after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}
.v-centered {
	width: 100%;
	display: inline-block;
	vertical-align: middle;
}
#wall {
	background: #3094b4; 
	background-size: cover; 
	padding: 2em; 
	position: relative;
}

#wall a {
	color: #fff;
}

#wall a:hover {
	text-decoration: underline;
}

#monitor {
	background: #000; 
	position: relative;
	border-top: .1em solid #888; 
	margin-top: 15%;
	margin-bottom: 5%;
	padding: 2% 2% 4% 2%; 
	border-top-left-radius: 2.2% 4%; 
	border-top-right-radius: 2.2% 4%; 
	transition: margin-right 1s;
}

/* MAC BODY */
#monitor:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -2%;
	left: -5%;
	right: -5%;
	height: 5%;
	border-bottom-left-radius: 10% 40%;
	border-bottom-right-radius: 10% 40%;

	background: #ccc;
background: -moz-linear-gradient(top,  rgba(175,175,175,0) 60%, rgba(175,175,175,1) 61%, rgba(58,58,58,1) 100%), -moz-linear-gradient(left,  rgba(119,119,119,1) 0%, rgba(204,204,204,1) 1%, rgba(255,255,255,1) 2%, rgba(153,153,153,1) 4%, rgba(221,221,221,1) 10%, rgba(221,221,221,1) 90%, rgba(153,153,153,1) 96%, rgba(255,255,255,1) 98%, rgba(204,204,204,1) 99%, rgba(119,119,119,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,rgba(175,175,175,0)), color-stop(61%,rgba(175,175,175,1)), color-stop(100%,rgba(58,58,58,1))), -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(119,119,119,1)), color-stop(1%,rgba(204,204,204,1)), color-stop(2%,rgba(255,255,255,1)), color-stop(4%,rgba(153,153,153,1)), color-stop(10%,rgba(221,221,221,1)), color-stop(90%,rgba(221,221,221,1)), color-stop(96%,rgba(153,153,153,1)), color-stop(98%,rgba(255,255,255,1)), color-stop(99%,rgba(204,204,204,1)), color-stop(100%,rgba(119,119,119,1)));
background: -webkit-linear-gradient(top,  rgba(175,175,175,0) 60%,rgba(175,175,175,1) 61%,rgba(58,58,58,1) 100%), -webkit-linear-gradient(left,  rgba(119,119,119,1) 0%,rgba(204,204,204,1) 1%,rgba(255,255,255,1) 2%,rgba(153,153,153,1) 4%,rgba(221,221,221,1) 10%,rgba(221,221,221,1) 90%,rgba(153,153,153,1) 96%,rgba(255,255,255,1) 98%,rgba(204,204,204,1) 99%,rgba(119,119,119,1) 100%);
background: -o-linear-gradient(top,  rgba(175,175,175,0) 60%,rgba(175,175,175,1) 61%,rgba(58,58,58,1) 100%), -o-linear-gradient(left,  rgba(119,119,119,1) 0%,rgba(204,204,204,1) 1%,rgba(255,255,255,1) 2%,rgba(153,153,153,1) 4%,rgba(221,221,221,1) 10%,rgba(221,221,221,1) 90%,rgba(153,153,153,1) 96%,rgba(255,255,255,1) 98%,rgba(204,204,204,1) 99%,rgba(119,119,119,1) 100%);
background: -ms-linear-gradient(top,  rgba(175,175,175,0) 60%,rgba(175,175,175,1) 61%,rgba(58,58,58,1) 100%), -ms-linear-gradient(left,  rgba(119,119,119,1) 0%,rgba(204,204,204,1) 1%,rgba(255,255,255,1) 2%,rgba(153,153,153,1) 4%,rgba(221,221,221,1) 10%,rgba(221,221,221,1) 90%,rgba(153,153,153,1) 96%,rgba(255,255,255,1) 98%,rgba(204,204,204,1) 99%,rgba(119,119,119,1) 100%);
background: linear-gradient(to bottom,  rgba(175,175,175,0) 60%,rgba(175,175,175,1) 61%,rgba(58,58,58,1) 100%), linear-gradient(to right,  rgba(119,119,119,1) 0%,rgba(204,204,204,1) 1%,rgba(255,255,255,1) 2%,rgba(153,153,153,1) 4%,rgba(221,221,221,1) 10%,rgba(221,221,221,1) 90%,rgba(153,153,153,1) 96%,rgba(255,255,255,1) 98%,rgba(204,204,204,1) 99%,rgba(119,119,119,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00afafaf', endColorstr='#3a3a3a',GradientType=0 );

	/* 
	Bottom: 
		http://www.colorzilla.com/gradient-editor/#afafaf+61,3a3a3a+100&0+60,0+60,1+61;Custom
	Wide:
		http://www.colorzilla.com/gradient-editor/#777777+0,cccccc+1,ffffff+2,999999+4,dddddd+10,dddddd+90,999999+96,ffffff+98,cccccc+99,777777+100;Custom 
	*/
}


/* LID-GRIP */
#monitor:before {
	content: '';
	display: block;
	position: absolute;
	bottom: 1%;
	left: 40%;
	right: 40%;
	height: 2%;
	z-index: 10;
	border-bottom-left-radius: 2% 80%;
	border-bottom-right-radius: 2% 80%;

background: #eee;

background: -moz-linear-gradient(left,  #888 0%, #ccc 15%, #ccc 85%, #888 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#888), color-stop(15%,#ccc), color-stop(85%,#ccc), color-stop(100%,#888));
background: -webkit-linear-gradient(left,  #888 0%,#ccc 15%,#ccc 85%,#888 100%);
background: -o-linear-gradient(left,  #888 0%,#ccc 15%,#ccc 85%,#888 100%);
background: -ms-linear-gradient(left,  #888 0%,#ccc 15%,#ccc 85%,#888 100%);
background: linear-gradient(to right,  #888 0%,#ccc 15%,#ccc 85%,#888 100%);

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#aaaaaa',GradientType=1 );


}
/* Lid-grip gradient http://www.colorzilla.com/gradient-editor/#aaaaaa+0,eaeaea+15,eaeaea+85,aaaaaa+100;Custom */

#monitorscreen {
	position: relative;
	background-size: cover; 
	background-position: top center;
	height: 0; 
	padding-bottom: 56.25%; 
	position: relative;
	overflow: hidden;
}

.monitorsmaller {
	margin-right: 15%;
}

@media all and (min-width: 1136px) {
	/* Additional styling on screen with higher resolution */
	#phone {
		box-shadow: 0 1em 2.5em 0 rgba(0,0,0,0.5), 0 1px 1px 1px rgba(255,255,255,0.5) inset;
	}
	#monitor {
		box-shadow: 0 1em 2.5em 0 rgba(0,0,0,0.5);
	}
}

/* Phone innerborder */
#phone {
	position: absolute;
	right: -100%;
	top: 40%;
	max-width: 300px;
	overflow: hidden;
	padding: 4% 1%;
	width: 20%;
	border-radius: .5em;
	border-top-left-radius: 		5% 3%;
	border-top-right-radius: 		5% 3%;
	border-bottom-left-radius: 		5% 3%;
	border-bottom-right-radius: 	5% 3%;

	background: #333;
	transition: right 1s;
}

.phoneactive {
	right: 0 !important;
}

/* Phone face */
#phone:before {
	content: '';
	display: block;
	position: absolute;
	top: 	.9%;
	bottom: .9%;
	left: 	1.7%;
	right: 	1.7%;

	border-radius: .5em;
	border-top-left-radius: 		5% 3%;
	border-top-right-radius: 		5% 3%;
	border-bottom-left-radius: 		5% 3%;
	border-bottom-right-radius: 	5% 3%;

	background: #111;
}

/* Front-facing camera */
#phone:after {
	content: '';
	display: block;
	position: absolute;
	top: 4.2%;
	right: 15%;
	width: 3.2%;
	height: 1.8%; 
	background-color: #555;
	border-radius: .2em; 
}

#phonescreen {
	background-position: top center;
	background-size: cover;
	background-color: #aaa;
	padding-bottom: 177.8%;
	position: relative;
	z-index: 4;
}

/* Flashy screen */
#phonescreen::after {
	content: '';
	display: block;
	position: absolute;
	top: -30%;
	left: -30%;
	right: 60%;
	bottom: -30%;
    -webkit-transform:  rotate(6deg);
    -o-transform: 		rotate(6deg);
    transform:  		rotate(6deg);
	background-color: rgba(255,255,255,0.1);
}

#desk {
	background: #3094b4;
	overflow: hidden;
}

#footer {
	background-color: #555;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}

#footer .row {
	padding-top: 5em;
	padding-bottom: 5em;
}

/* NG ANIMATIONS */
		.view.ng-enter,
		.view.ng-leave {
		  -webkit-transition:0.5s linear all;
		  transition:0.5s linear all;
		}

		.view.ng-enter { opacity: 0; }
		.view.ng-enter.ng-enter-active { opacity: 1; }

		.view.ng-leave { 
			opacity: 1; 
			position: absolute;
		}
		.view.ng-leave.ng-leave-active { opacity: 0; }


/* GAME-STUFF */
		#leongame {
			background-color: #55b9d9; /*#5D94FB;*/
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		#bg1, #bg2, #bg3 {
			position: absolute; 
			width: 100%; 
			background-size: contain;
		}
		#bg1 {
			background-repeat: repeat-x;
			background-image: url(../img/groundtile.gif); 
			padding-bottom: 5%;
			bottom: 0; 
		}
		#bg2 {
			background-repeat: no-repeat;
			background-image: url(../img/hilltile.gif); 
			padding-bottom: 15%;
			margin-bottom: 5%;
			left: 10%;
			bottom: 0; 
		}
		#bg3 {
			background-repeat: no-repeat;
			background-image: url(../img/cloudtile.gif); 
			padding-bottom: 10%;
			margin-top: 20%;
			margin-right: 15%;
			top: 0;
			left: 80%;
		}
		#pipe1, #pipe2 {
			position: absolute; 
			background-repeat: no-repeat;
			background-size: contain;
			background-image: url(../img/pipe.gif); 
			padding-bottom: 15%;
			width: 10%;
			margin-bottom: 5%;
			bottom: 0;
			left: 0;
		}
		#pipe2 {
			left: auto;
			margin-bottom: 0;
			right: 5%;
		}
		#sprite, #sprite2 {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 0 0;
			background-image: url(../img/leonsprite.gif); 
		}
		#sprite2 {
			width: 48px;
			height: 144px;
		}
		#sprite {
			padding-bottom: 15%;
			width: 5%;
			position: absolute;
			bottom: 0;
			margin-bottom: 5%;
			margin-right: 15%;
			left: 50%;
		}
		#sprite:before {
			content: attr(data-saying);
			font-family: 'Press Start 2P', fixedsys, sans-serif;
			position: absolute;
			text-align: center;
			top: -3em;
			width: 18em;
			left: -10em;
			font-size: 24px;
			z-index: 5;
		}

		@media all and (max-width: 800px) {
		  #sprite:before {
		  	font-size: 16px;
		  }
		}

		@media all and (max-width: 600px) {
		  #sprite:before {
		  	font-size: 8px;
		  }
		}

		#sprite2:hover:before {
			content: attr(data-saying);
			font-family: 'Press Start 2P', fixedsys, sans-serif;
			position: absolute;
			font-size: 16px;
			color: #777;
		}
		.mirrored, #sprite.mirrored:before {
		    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
		    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
		    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
		    transform: matrix(-1, 0, 0, 1, 0, 0);
		}

		.walking, #sprite2:hover {
			-webkit-animation: walking .2s steps(3) infinite alternate; 
			-moz-animation:    walking .2s steps(3) infinite alternate; 
			-o-animation:      walking .2s steps(3) infinite alternate; 
			animation:         walking .2s steps(3) infinite alternate; 
		}

		@-webkit-keyframes walking {
		  0%   { background-position: 50% 0; }
		  100% { background-position: 125% 0; }
		}
		@-moz-keyframes walking {
		  0%   { background-position: 50% 0; }
		  100% { background-position: 125% 0; }
		}
		@-o-keyframes walking {
		  0%   { background-position: 50% 0; }
		  100% { background-position: 125% 0; }
		}
		@keyframes walking {
		  0%   { background-position: 50% 0; }
		  100% { background-position: 125% 0; }
		}
		
		.jump {
			background-position: 25% 0 !important;
		}

/* 
	lime: 		#bdd600 rgb(187, 207, 6);
	blue: 		#3094b4 rgb(48, 148, 180);
	yellow:		#efab00 rgb(239, 171, 0);
	purple: 	#8e258c rgb(142, 37, 140);
	red: 		#cb0044 rgb(203, 0, 68);
*/ 