<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h1>Whydah</h1>
		<p><strong>Whydah</strong> is a light weight user administration and single sign-on component developed in Oslo, Norway and supported by <a href="http://www.cantara.no">Cantara</a>.</p>
		<p>It is subdivided in five logical components where four are built using Java. Documentation is found at <a href="http://wiki.cantara.no/display/iam/whydah">wiki.cantara.no/display/iam/whydah</a></p>
		<p>This is the fifth component, a simple user- and application administration tool to make it easy to browse and modify users.</p>
		<p>This component is built with:</p>
		<ul>
			<li><a href="http://angularjs.org/">Angular.js</a></li>
			<li><a href="http://getbootstrap.com/">Bootstrap</a> / <a href="http://bootswatch.com/yeti/">Bootswatch Yeti</a></li>
			<li><a href="http://jquery.com/">jQuery</a></li>
			<li>Components from <a href="http://angular-ui.github.io/bootstrap/">UI Bootstrap</a></li>
		</ul>
	</div>
</div>