<table class="table">
  <thead>
    <tr>
      <th><label><input tri-state-checkbox elements="elements" elements-selected="rolesSelected"></label></th>
      <th ng-repeat="field in visibleFields">{{field}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="el in elements">
      <td><input type="checkbox" ng-model="el.isSelected"></td>
      <td ng-repeat="field in visibleFields"><input type="text" class="form-control" ng-model="el[field]" ng-show="el.isEditing"><span ng-show="!el.isEditing">{{el[field]}}</span></td>
      <td>
        <button class="btn btn-default btn-sm" ng-click="el.isEditing=true" ng-show="!el.isEditing">
          <span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit
        </button>
        <button class="btn btn-default btn-sm" ng-click="el.isEditing=false" ng-show="el.isEditing">
          <span class="glyphicon glyphicon-ok"></span>&nbsp;Done
        </button>
      </td>
    </tr>
    <tr ng-if="!elements.length">
      <td colspan="{{visibleFields.length+2}}">No roles yet.</td>
    </tr>
  </tbody>
</table>