<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Leon Ho: UX Designer @ Altran</title>
	<link rel="stylesheet" href="css/foundation.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
	<script src="js/vendor/custom.modernizr.js"></script>
	<style>
	</style>
</head>
<body ng-app="siteApp" ng-controller="mainController">

	<div id="wall" style="overflow: hidden">
		<div class="text-center">
			<h6 style="text-transform: uppercase; letter-spacing: .2em;" class="colorwhite"><a href="#" id="leongamelink">Leon Ho</a> UX Designer @ <a href="http://www.altran.no"><img src="img/altranwhite.png" alt="ALTRAN" style="height: .75em; margin-bottom: .25em;"></a></h6>
		</div>
		<div class="row" style="position: relative;">
			<div id="monitor" ng-class="{monitorsmaller: project.active.phoneimg}">
				<div id="monitorscreen" ng-style="project.active && {'background-image':'url('+project.active.mainimg+')'}">
					<div id="leongame" ng-hide="project.active">
						<div id="bg3"></div>
						<div id="bg2"></div>
						<div id="pipe1"></div>
						<div id="pipe2"></div>
						<div id="bg1"></div>
						<div id="sprite" data-saying=""></div>
						<div class="text-center">
							<h2 class="colorwhite pixelfont ">Leon Ho</h2>
							<h4 class="colorwhite pixelfont subheader">UX Designer @ Altran</h4>
							<p class="colorwhite pixelfont" style="margin-top: 1em;">Designer og frontend-utvikler med allsidig kompetanse.</p>
							<p class="colorwhite pixelfont">
								<img style="width: 5%" src="img/x.gif" alt="X" id="jumpkey"/> Jump
								<img style="width: 5%" src="img/leftarrow.gif" alt="Left" id="leftkey"/>
								<img style="width: 5%" src="img/leftarrow.gif" alt="Right" class="mirrored" id="rightkey"/> Move
							</p>
						</div>
					</div>
				</div>
			</div>
			<div id="phone" ng-class="{phoneactive: project.active.phoneimg}">
				<div id="phonescreen" ng-style="project.active.phoneimg && {'background-image':'url('+project.active.phoneimg+')'}">
				</div>
			</div>
		</div>
	</div>

	<div id="project">
		<div class="row">
			<div class="large-8 large-centered columns small-12 arrowup" id="projectdescription">
				<div ng-view class="view"></div>
			</div>
		</div>
	</div>

	<div id="desk">
		<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4 text-center" id="projectlist">
			<li ng-repeat="p in project.all">
				<a href="#/project/{{$index}}" ng-style="p.mainimg && {'background-image':'url('+p.mainimg+')'}">
					<div class="v-container">
						<div class="v-centered">
							<img ng-src="{{p.logo}}" alt="{{p.client}}" ng-if="p.logo" class="logo">
							<h5 class="colorwhite">{{p.client}}</h5>
							<h6 class="subheader colorwhite">{{p.title}}</h6>
						</div>
					</div>
				</a>
			</li>
		</ul>
	</div>

	<div id="footer">
		<div class="row">
			<div class="large-6 large-centered columns">
				<a href="mailto:leonho@altran.com"><div id="sprite2" style="margin: auto;" data-saying="Call me, maybe?"></div></a>
				<h6 class="subheader text-center colorwhite" style="margin: 2em">Leon jobber for Altran Norge som UX-designer og frontend-utvikler. </h6>
			</div>
		</div>
	</div>

	<div class="row" style="display: none;">
		<div class="large-12 columns">
			<form action="" id="skillsform">
				<ul class="inline-list text-center" id="skillslist">
					<li ng-repeat="skill in skills"><label class="button tiny secondary"><input type="checkbox" name="skill" value="{{skill.id}}"/> {{skill.label}}</label></li>
				</ul>
			</form>
		</div>
	</div>
	
	<script type="text/ng-template" id="project.html">
		<h1 class="text-center subheader">{{project.active.client}}</h1>
		<h3 class="text-center ">{{project.active.title}}</h3>
		<h5 class="text-center subheader">{{project.active.subtitle}}</h5>
		<p ng-repeat="p in project.active.description">{{p}}</p>
		<p ng-repeat="i in project.active.imgs"><img src="{{i}}" alt="{{project.active.client}} {{project.active.title}}"></p>
		<p ng-if="project.active.link" class="text-center"><a href="{{project.active.link}}">{{project.active.client}}</a></p>
	</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-animate.min.js"></script>


	  <script>

	  	var siteApp = angular.module('siteApp', ['ngRoute','ngAnimate']);

	  	siteApp.config(['$routeProvider',
	  		function($routeProvider) {
	  			$routeProvider.
	  			when('/project/:projectId', {
	  				templateUrl: 'project.html',
	  				controller: 'projectController'
	  			}).
	  			otherwise({
	  				redirectTo: '/'
	  			});
	  		}
	  	]);

	  	siteApp.controller('mainController', function($scope, $routeParams) {

	  		var projectId = $routeParams.projectId;

	  		$scope.project = {};

	  		$scope.project.all = [
				{
					client: 'Adra Match',
					title: 'Single Page Application',
					subtitle: 'Interaksjonsdesign og grafisk design',
					description: ['Adra Match lager verktøy for å forenkle prosessen med avstemming og andre oppgaver i forbindelse med periodeavslutninger, og gjør det enkelt å kvalitetssikre og spore oppgavene som blir gjort. I dette prosjektet ønsket de hjelp til å tilføre sine produkter et mer enhetlig interaksjon og grafisk uttrykk.',
						'Jeg fikk muligheten til å gå gjennom brukergrensesnittet på deres eksisterende nett-baserte tjenester, og å så på hvordan brukervennlighet og grafisk design kunne forbedres. Jeg laget retningslinjer for interaksjonsdesign, og en styleguide for grafisk design, og laget også skisser for å vise hvordan deres kommende produkter kan se ut med det nye uttrykket.'],
					logo: 'img/projects/adramatch-logo.png',
					mainimg: 'img/projects/adramatch1.png',
					imgs: [
						'img/projects/adra-login.png',
						'img/projects/adra-template.PNG',
						'img/projects/adra-dashboard.png'
					],
					thumbnail: 'img/projects/adramatch1.png',
					tags: 'illustration interactiondesign graphicaldesign'
				},
				{
					client: 'Whydah',
					title: 'User Admin Webapp',
					subtitle: 'Frontend, grafisk design og interaksjonsdesign',
					description: [
						'Whydah er en Open-Source løsning for Single Sign-On som tilbyr avansert rollebaserte tilgangskontroll og fleksible integarasjoner. ',
						'Jeg har vært med på å designe og kode webappen for brukeradministrasjon, og var også med på å utforme grensesnittet og JSON-strukturen mot backend. De viktigste hjelpemidlene for å få raskt opp og kjøre var Bootstrap/Bootswatch og AngularJS.',
						'Jeg jobbet også mye med promo-siden og grafikk for prosjektet.'
					],
					logo: 'img/projects/whydah-logo.png',
					mainimg: 'img/projects/whydah-uawa.png',
					imgs: [
						'img/projects/Whydah-promopage.jpg',
						'img/projects/Whydah-Diagram.png'
					],
					link: 'http://getwhydah.com',
					thumbnail: 'img/projects/whydah-uawa.png',
					tags: 'html css javascript illustration interactiondesign graphicaldesign'
				},
				{
					client: 'NSB',
					title: 'Android Widget',
					subtitle: 'Grafisk design og interaksjonsdesign',
					description: [
						'NSB er i arbeid med å introdusere Android-baserte nettbrett og mobiler til sine ansatte for de skal ha en lettere og mer praktisk tilgang til viktig informasjon.',
						'For dette prosjektet designet jeg brukergrensesnitt for app og widget, og etablerte et grafisk formspråk for at det skulle være gjenkjennelig og helhetlig. Jeg implementerte også en del av designet i Android layout-kode, og tok del i koding av Android widget.'
					],
					logo: 'img/projects/NSB-logo.png',
					mainimg: 'img/projects/nsb-screen.jpg',
					phoneimg: 'img/projects/nsb-nyheter.jpg',
					imgs: [
						'img/projects/nsb-train.jpg'
					],
					thumbnail: 'img/projects/nsb-screen.png',
					tags: 'illustration interactiondesign graphicaldesign android'
				},
				{
					title: 'Utstillingsapp',
					subtitle: 'Interaksjonsdesign og illustrasjonsbilder',
					description: [
						'Norsk Kennel Klub arrangerer mange hundeutstillinger i året - I dette prosjektet utforskes vi hvordan nettbrett kan brukes for å forenkle og forbedre resultat- og datainnsamlingen under disse utstillingene. Jeg laget konseptrendringer og wireframes for flyten i applikasjonen.'
						],
					client: 'NKK',
					logo: 'img/projects/NKK-logo.png',
					mainimg: 'img/projects/nkk1.jpg',
					imgs: ['img/projects/nkk-utstilling.png'],
					thumbnail: 'img/projects/nkk1.jpg',
					tags: 'illustration interactiondesign graphicaldesign',
					link: 'http://nkk.no'
				},
				{
					title: 'ACS',
					subtitle: 'Altran Competence System for konsulent-CVer',
					description: [
						'Altran har i Norge og Sverige til sammen fler enn 400 ansatte. Som en bedrift med fokus på konsulentvirksomhet, er det svært viktig at informasjon om konsulentenes erfaringer er oppdatert og lett tilgjengelig for salg og videreutvikling. Tidligere har dette vært lagret i enkeltstående CV-dokumenter og diverse kompetansematriser, men dette har vært vanskelig å gjenbruke, oppdatere og holde organisert.',
						'Jeg har vært utviklingsansvarlig for det nye salg og kompetansesystemet for Altran. I dette prosjektet har jeg over tid hatt ansvar for både utvikling, interaksjonsdesign, grafisk design og drift. Tjenesten ble i 2013 rullet ut for Altrans kontorer i Stockholm, Gothenburg, Malmö, Borlänge og Karlstad, i tillegg til Oslo.'],
					client: 'Altran',
					logo: 'img/projects/ACS-logo.png',
					mainimg: 'img/projects/altran-acs.jpg',
					imgs: ['img/projects/acs-detail.jpg'],
					phoneimg: 'img/projects/altran-acs-mobile.jpg',
					thumbnail: 'img/projects/acs_s.png',
					tags: 'django html css graphicaldesign interactiondesign javascript jquery'
				},
				{
					title: 'Søketjeneste',
					subtitle: 'Frontendutvikling - Søk mot Solr-indeks',
					description: ['Norsk Kennel Klub har kompleks informasjon om registrerte hunder i Norge. I 2013 ønsket startet arbeidet med å indeksere deres databaser slik at man lettere får tak i den informasjonen man er ute etter. I den forbindelse utviklet jeg et webbasert grensesnitt for å gjøre fasetterte søk i den nye Solr-indeksen.'],
					client: 'NKK',
					logo: 'img/projects/NKK-logo.png',
					mainimg: 'img/projects/nkk-solrsearch.png',
					thumbnail: 'img/projects/nkk2.jpg',
					tags: 'javascript jquery html css graphicaldesign interactiondesign',
					link: 'http://nkk.no'
				},
				{
					title: 'Altran TV',
					subtitle: 'HTML5 + Javascript Slideshow',
					description: ['Et automatisk slideshow for Altran for å vise frem info om Altran og deres ulike prosjekter, laget i HTML, og Javascript med CSS-animasjoner.'],
					client: 'Altran',
					logo: 'img/altranwhite.png',
					mainimg: 'img/projects/altrantv.jpg',
					imgs: [
						'img/projects/altrantv-solar.jpg',
						'img/projects/altrantv-land.jpg'
					],
					phoneimg: 'img/projects/altrantvmobile.jpg',
					thumbnail: 'img/projects/altrantv.jpg',
					tags: 'javascript html css graphicaldesign'
				}
			];

			if(projectId){
				$scope.project.active = $scope.project.all[projectId];
			} else {
				$scope.project.active = undefined;
				console.log('No project selected.');
			}

			$scope.skills = [
				{label: 'HTML5', id:'html'},
				{label: 'CSS3', id:'css'},
				{label: 'Javascript', id:'javascript'},
				{label: 'JQuery', id:'jquery'},
				{label: 'Interaksjonsdesign', id:'interactiondesign'},
				{label: 'Illustrasjon', id:'illustration'},
				{label: 'Django', id:'django'},
				{label: 'Grafisk design', id:'graphicaldesign'}
			];

	  	});

	  	siteApp.controller('projectController', function($scope, $routeParams) {
	  		// Project
	  		var projectId = $routeParams.projectId || 0;
			$scope.project.active = $scope.project.all[projectId];
	  	});

		(function(){
			
			$('#projectlist').on('click', 'a', function(e){
				console.log('Scroll');
			    $('html, body').animate( { scrollTop: $('#monitor').offset().top}, 'fast');
			});

			var scrollamount = 0;

			if(screen.width>1024){
			  	$('body').mousemove(function(e){
			  		var docwidth = $(document).width();
			  		scrollamount = e.pageX / docwidth;
			  		$('#bg3').css('background-position', scrollamount*5 + "%");
			  		$('#bg2').css('background-position', scrollamount*12 + "%");
			  		$('#bg1').css('background-position', scrollamount*15 + "%");
			  		$('#pipe1').css('margin-left', (scrollamount*15)+ "%");
			  		$('#pipe2').css('margin-right', '-'+(scrollamount*15)+ "%");
			  		$('#sprite').css('left', (scrollamount*15+sprite.left)+ "%");
			  	});
			}

			var sprite = {
				$: $('#sprite'),
				left: 50,
				speed: 0,
				sayings: [
					'Hey...',
					'Something is not right...',
					"I'm stuck!",
					'...',
					'Should not have had those extra burgers.',
					'.',
					'..',
					'...',
					'....',
					'.....',
					'......',
					'.......',
					'........',
					'.........',
					'..........',
					'...........',
					'The view is pretty nice.',
					'Running around like this seems pretty meaningless.',
					"Fun fact: Otters hold hands when sleeping so they don't float away from each other.",
					''
				],
				sayingscounter: 0,
				walkingInterval: {},
				deceleratingInterval: {},
				isJumping: false,
				status: 'stopped' // walkingleft, walkingright
			}

		  	function jump(){
				if(!sprite.isJumping){
					console.log('Jump up, jump up, and get down!');
					sprite.isJumping = true;
			        sprite.$.addClass('jump').animate(
			        	{bottom: '15%'}, 
			        	200,
			        	'linear',
			        	function() {
			        		sprite.$.animate({bottom: '0%'},200);
			        	});
			        setTimeout(function() { sprite.$.removeClass('jump'); }, 200);
			        setTimeout(function() { sprite.isJumping = false; }, 400);
				}
		  	}

		  	function walk(direction){
		  		if(sprite.status != 'walking'+direction) {
		  			console.log('Move it to the ' + direction + '!');
			  		sprite.status = 'walking'+direction;
			  		sprite.$.attr('data-saying', sprite.sayings[sprite.sayingscounter++]);
			  		clearInterval( sprite.walkingInterval );
			  		clearInterval( sprite.deceleratingInterval );
			  		sprite.$.addClass('walking');
		  			sprite.$.toggleClass('mirrored', direction=='left');
		  			sprite.speed = (direction=='left') ? -0.5 : 0.5;
			  		sprite.walkingInterval = setInterval( function() {
			  			if( (sprite.left < 80 && direction == 'right') || (sprite.left > 10 && direction == 'left') ){
				  			sprite.left+=sprite.speed;
				  			if(sprite.left > 80) sprite.left=80;
				  			if(sprite.left < 10) sprite.left=10;
				  			$('#sprite').css('left', (scrollamount*15+sprite.left)+ "%");
				  			if( Math.abs( sprite.speed ) < 2) sprite.speed *= 1.2;
				  		}
		  			},50);
		  		}
		  	}

		  	function stopWalk(){
		  		console.log('Stop! Hammer time!');
		  		sprite.status = 'stopped';
			  	clearInterval( sprite.deceleratingInterval );
		  		sprite.deceleratingInterval = setInterval( function() {
			  		sprite.speed *= 0.7;
			  		if( Math.abs(sprite.speed) <= 0.5 ){
			  			clearInterval( sprite.walkingInterval );
			  			clearInterval( sprite.deceleratingInterval );
			  		}
		  		}, 50);
		  		sprite.$.removeClass('walking');
		  	}

		  	$('#sprite').mouseover(function(){
		  	});

			$(document).on('keydown', function(e) {
		        if (e.keyCode == 37) walk('left');
		        if (e.keyCode == 88) jump();
		        if (e.keyCode == 39) walk('right');
			});

			$(document).on('keyup', function(e) {
			    if (e.keyCode == 37 || e.keyCode == 39 ) stopWalk();
			});

			$('#rightkey').on('mousedown mouseup', function(e){
			    if (e.type == 'mousedown') { walk('right'); }
			    else { stopWalk(); }
			});
			$('#leftkey').on('mousedown mouseup', function(e){
			    if (e.type == 'mousedown') { walk('left'); }
			    else { stopWalk(); }
			});
			$('#jumpkey').click(jump);


		  	$('#skillslist input').change( function() {
		  		filterProjects();
		  		return false;
		  	} );

		  	function filterProjects() {
		  		$('#projectlist li').each( function() {
		  			var activeInputs = $('#skillsform').serializeArray();
		  			var activeTags = [];
		  			for( var i = 0; i<activeInputs.length; i++ ) {
		  				activeTags.push(activeInputs[i].value);
		  			}
		  			var tags = $(this).data('tags').split(' ');
		  			if( arrayIntersect(activeTags, tags).length > 0 || activeTags.length == 0 ) {
		  				$(this).show();
		  			} else {
		  				$(this).hide();
		  			}
		  		});
		  	}

		  	function arrayIntersect(a, b) {
			    return $.grep(a, function(i) {
			        return $.inArray(i, b) > -1;
			    });
			};

		}());
	  </script>
  
	</body>
</html>
